/node_modules/
public/build/*.html
public/build/*.js
public/build/*.map
public/build/*.css

.DS_Store

*~

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

